<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>DECEMBER</title>
</head>
<body>
   <div class="container">
       <h1>DECEMBER</h1>
       <a href="admin/new"><button type="button"> ADD NEW</button></a>
       <% router.forEach(route=>{%>
    })
   </div>
</body>
</html>